@model _3K1D_Final.Models.AddMovie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AddMovie</h4>
<hr />
<div>
    <body>
        <form>
            <div class="image-container">

                <div class="image-panel"  >
                     <div style="border: 2px solid white">
                       <img id="previewImage" style="width: 675px; height: 350px;" src="~/image/addhinh.jpg" alt="addhinh">
                       

                     <!--<img src="~/image/SanPham/Hinh" alt=".Hinh" />--> 
                     </div>
                      <input type="file" id="imageInput" name="Hinh" class="form-control" />
                     
                </div>
                 <div class="image-panel">
                     <label for="ten-phim">Tên phim:</label>
                    <input type="text" id="ten-phim" name="ten-phim"><br><br>
                    <label>Thể loại:</label><br>
                    <input type="checkbox" name="the-loai" value="Hành động"> Hành động
                    <input type="checkbox" name="the-loai" value="Viễn tưởng"> Viễn tưởng
                    <input type="checkbox" name="the-loai" value="Hài hước"> Hài hước
                    <br><br>

                    <label for="tac-gia">Tác giả:</label>
                    <input type="text" id="tac-gia" name="tac-gia"><br><br>

                    <label for="thoi-luong">Thời lượng (phút):</label>
                    <input type="number" id="thoi-luong" name="thoi-luong"><br><br>

                    <label for="ngay-vao">Ngày vào rạp:</label>
                    <input type="date" id="ngay-vao" name="ngay-vao"><br><br>

                    <label for="mo-ta">Mô tả:</label><br>
                    <textarea id="mo-ta" name="mo-ta" rows="4" cols="50"></textarea><br><br>

                    <input type="submit" value="Thêm phim">
                 </div>
            </div>

           
            
            
        </form>
    </body>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
const imageInput = document.getElementById('imageInput');
const previewImage = document.getElementById('previewImage');

imageInput.addEventListener('change', function(event)   
 {
  const file = event.target.files[0];

  if (file) {
    const reader = new FileReader();

    reader.onload = function(e) {
      previewImage.src = e.target.result;
    };

    reader.readAsDataURL(file);   


    // Hiển thị tên file
    const fileName = file.name;
    // Bạn có thể hiển thị tên file ở bất kỳ đâu trên trang bằng cách sử dụng JavaScript
    // Ví dụ:
    const fileNameDisplay = document.getElementById('fileName');
    fileNameDisplay.textContent = fileName;
  }
});
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
