@model IEnumerable<_3K1D_Final.Models.AddMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Movie genre</th>
            <th>Duration</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
