@model _3K1D_Final.Models.NhanVien
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="IdNv" />
            <div class="mb-3">
                <label asp-for="HoTen" class="form-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NgaySinh" class="form-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DiaChi" class="form-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Sdt" class="form-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cccd" class="form-label"></label>
                <input asp-for="Cccd" class="form-control" />
                <span asp-validation-for="Cccd" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="HinhAnh" class="form-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
